body {
    background-color: aqua;
}

.wrapper {
    background-color: gray;
    position: absolute;
    height: 71vh;
    width: 50vw;
    top: .5vh;
    left: 25vw;
    border: darkgray solid 2px;
}
/****** Game Screen **********/
.game-wrapper {
    background-color: rgb(12, 150, 12);
    border: darkgray solid 2px;
    height: 60vh;
    width: 48vw;
    margin-left: 1vw;
    margin-top: 1vh;
}

/****** Word Display ****************/
.word-display {
    text-align: center;
    font-size: 2vw;
}

.game-title {
    font-size: 10vh;
    font-weight: bold;
}
.select-game-type, .game-options, .instructions{
    font-size: 5vh;
    text-decoration: underline;
}

.current-game-options {
    font-size: 1vw;
}
.word-display ul {
    list-style: none;
}
.game-type {
    text-align: center;
    font-size: 2vw;
    text-decoration: underline;
    font-weight: bold;
    background-color: blanchedalmond;
}

.game-screen-letter {
    min-width: 2vw;
}

.large {
    font-size: 20vh;
}

.game-screen-large-character {
    font-size: 30vh;
    font-weight: Bold;
}
.greyout {
    opacity: 0.2;
    filter: alpha(opacity = 20);
}

.highlight {
    background-color: blanchedalmond;
}

.highlight-2 {
    background-color: rgb(12, 150, 12);
    color: blanchedalmond;
}

/****** Game Status *****************/
.timer-wrapper {
    position: absolute;
    bottom: 25%;
    left: 40%;
    height: 15%;
    width: 10%;
    text-align: center;
    border: solid white 4px;
    
}

.timer {
    font-size: 8vh;
}
.health-bar-wrapper {
   border: white solid 4px;
   position: absolute;
   bottom: 13%;
   height: 10%;
   width: 95%;
}

.health-bar {
    width: 100%;
    float: left;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

.health-tick {
    font-size: 3.8vh;
    background-color: red;
}

.characters-left-wrapper {
    position: absolute;
    bottom: 25%;
    left: 52%;
    height: 15%;
    width: 10%;
    text-align: center;
    border: solid white 4px;
}

.characters-left {
    font-size: 8vh;
}

.hidden {
    display: none;
}
/****** Keyboard Hints **************/

.keyboard-hints-display {
    position: absolute;
    top: 20%;
    text-align: center;
    font-size: 1.0vw;
    width: 20vw;
    right: 2vw;
}

.alt-value-hint {
    padding: .5vw;
    font-size: .5vw;
}

.toggle-label {
    position: absolute;
    top: 15vh;
    right: 7vw;
    font-size: 1.1vw;
}
/* The switch - the box around the slider */
.keyboard-hints-toggle {
    position: absolute;
    display: inline-block;
    width: 3.5vw;
    height: 3.5vh;
    top: 15vh;
    right: 18vw;

  }
  
  /* Hide default HTML checkbox */
  .keyboard-hints-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 2.6vh;
    width: 2.6vh;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .hidden {
      display: none;
  }

  .keyboard-hints-wrapper img {
      position: absolute;
      bottom: 30vh;
      right: 2vw;
      width: 20vw;
  }

/****** Keyboard Response ***********/
.keyboard {
    position: absolute;
    top: 63%;
    bottom: 2%;
    left: 20%;
    right: 20%;
    text-align: center;
    font-size: 2.2vw;
    width: 50.3vw;
    left: 25vw;
}

.keyboard-row-1 {
    display: grid;
    grid-template-columns: 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 11.6%;
}


.keyboard-row-2 {
    display: grid;
    grid-template-columns: 9.2% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 9.2%;
}


.keyboard-row-3 {
    display: grid;
    grid-template-columns: 11.6% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 13.6%;
}


.keyboard-row-4 {
    display: grid;
    grid-template-columns: 15% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 17%;
}


.keyboard-row-5 {
    display: grid;
    grid-template-columns: 14% 14% 44% 14% 14%;
}

.key {
    display: inline-block;
    background-color: gray;
    
    border-style: solid;
    border-width: 1.5px;
}

.alt-value {
    padding: 1vw;
    font-size: 1vw;
}

.key-down {
    background-color: darkgreen;
}